.cover__content-title {
    position: relative;
    font-style: normal;
    font-size: 72px;
    z-index: 99;
    margin-bottom: 115px;
    width: 48.8%;
}

@media screen and (max-width: 459px) {
    .cover__content-title {
        width: 91.6%;
        font-size: 32px;
        margin-bottom: 7px;
    }
}

@media (min-width: 460px) and (max-width: 599px) {
    .cover__content-title {
        width: 80%;
        font-size: 32px;
        margin-bottom: 45px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .cover__content-title {
        width: 70%;
        font-size: 42px;
        margin-bottom: 45px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__content-title{
        width: 93.7%;
        margin-bottom: 45px;
    }
    
}

@media screen and (min-width: 1280px) {
    .cover__content-title {
        width: 1094px;
        margin-bottom: 134px;
    }
}