.video__content-title {
    width: 90.6%;
    font-size: 72px;
    line-height: 1.1;
    margin-bottom: 34px;
}

@media screen and (max-width: 767px) {
    .video__content-title {
        font-size: 32px;
        margin-bottom: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__content-title {
        width: 80.7%;
        font-size: 42px;
        font-weight: 900;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1280px) {
    .video__content-title {
        width: 800px;
    }
}