.video__duration {
    position: relative;
    display: block;
    max-height: 12px;
    margin-bottom: 12px;
    z-index: 99;
}

@media screen and (max-width: 767px) {
    .video__duration {
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__duration {
        margin-bottom: 8px;
    }
}
