.lead__content-subtitle {
    width: 583px;
    font-size: 30px;
    margin-bottom: 78px;
}

@media screen and (max-width: 767px) {
    .lead__content-subtitle {
        font-size: 16px;
        width: 88%;
        margin-bottom: 31px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lead__content-subtitle{
        width: 93.7%;
    }
}