.video__container {
    display: flex;
    width: 90.6%;
    margin:auto;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .video__container {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .video__container {
        width: 93.7%;
    }
}

@media screen and (min-width: 1280px) {
    .video__container {
        width: 1184px;
    }
}